{% extends 'base.html' %}
{% block content %}
<br/><br/>
<h2 class="sub-header">Patient Details</h2>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Dept</th>
                  <th>Mr/Ms.</th>
                  <th>Name</th>
                  <th>ID</th>
                  <th>Age</th>
                  <th>Consulting Doctor</th>
                  <th>House No.</th>
                  <th>Street</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Time of Admission</th>
                  <th>Update?</th>
                  <th>Delete?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>{{ object.department.department }}</td>
                    <td>{{ object.salutation }}</td>
                    <td>{{ object.name }}</td>
                    <td>00{{ object.id }}</td>
                    <td>{{ object.age }}</td>
                    <td>{{ object.doctor }}</td>
                    <td>{{ object.house_number }}</td>
                    <td>{{ object.street }}</td>
                    <td>{{ object.city }}</td>
                    <td>{{ object.state }}</td>
                    <td>{{ object.time_admitted }}</td>
                    <td>
                        <a href="{% url 'hospital:patient_update' patient.pk %}" class="btn btn-primary">
                        <span class="glyphicon glyphicon-off" area-hidden="true"></span>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'hospital:patient_delete' patient.pk %}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-off" area-hidden="true"></span>
                        </a>
                    </td>
                </tr>

              </tbody>
            </table>
          </div>

{% endblock %}